/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@font-face {
  font-family: "PizzaFont";
  src: url(/assets/fonts/hotpizza.ttf);
}
/*=============== VARIABLES CSS ===============*/
.light{
  --color1:rgb(255 96 0);
  --color2:rgb(255, 255, 255);
  --color3:rgb(255, 139, 67);
  --textcolor:rgb(255, 255, 255);
  --color4:rgb(255, 188, 13);
  --color5:rgb(255, 139, 67);
  --background: url(/assets/images/background.png);
  --footercolor:rgb(128, 128, 128);
  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
  --pizza-font:"PizzaFont";
}
.dark{
  --color1:rgb(255 96 0);
  --color2: rgb(63, 63, 63);
  --color3:rgb(255, 139, 67);
  --textcolor:rgb(255, 255, 255);
  --color4:rgb(255, 188, 13);
  --color5: rgb(49, 49, 49);
  --footercolor:rgb(24, 24, 24);
  --background: url(/assets/images/background-dark.png);
  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
  --pizza-font:"PizzaFont";
}

   

body{
  background-color: rgb(63, 63, 63);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
}
body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  font-family: var(--body-font);
  color:  var(--body-color);
  background-color: var(--color2);
  color: var(--textcolor);
}




.homesection{
  display: inline-flex;
  position: relative;
  width: 100%;
  height: 160vh;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;  
  background-image: var(--background);
  background-size: 6%;
  top: 0%;
  padding-bottom: 5vw;
  flex-wrap: wrap;
}
.menusection{
  display: none;
  width: 100%;
  height: 180vh;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;  
  background-image: var(--background);
  background-size: 6%;
}
.section__feed{
  display: inline-flex;
  width: 100%;
  min-height: 50%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}
footer{
  display: inline-flex;
  width: 100%;
  height: 15vh;
  background-color: var(--footercolor);
}
/*utility class*/
.display-inlineflex{
  display: inline-flex;
}
.display-none{
  display: none;
}
.position-fixed{
  position: fixed;
}
.toside{
  left: 0%;
}
.overflow-hidden{
  overflow: hidden;
}
.liked{
  color: rgb(243, 51, 44);
}
.box-menu-product{
        width: 36.8%;
    }
@media screen and (min-width:900px){
  body{
    font-size: 25px;
  }
}